firmware_data/SM-L310_stable.json
firmware_data/SM-L310_test.json
firmware_data/SM-S926B_stable.json
firmware_data/SM-S926B_test.json
firmware_data/SM-L320_stable.json
firmware_data/SM-L320_test.json
firmware_data/SM-S931B_stable.json
firmware_data/SM-S931B_test.json
firmware_data/SM-L300_stable.json
firmware_data/SM-L300_test.json
firmware_data/SM-Q500_stable.json
firmware_data/SM-Q500_test.json
firmware_data/SM-R510_stable.json
firmware_data/SM-R510_test.json
firmware_data/SM-R630_stable.json
firmware_data/SM-R630_test.json
firmware_data/SM-S938B_stable.json
firmware_data/SM-S938B_test.json
firmware_data/SM-R640_stable.json
firmware_data/SM-R640_test.json
